__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
.env
*.pt
*.pth
*.onnx
*.engine
*.mp4
*.avi
*.mov
*.zip
*.7z
datasets/
data/raw/
runs/
.cache/
Thumbs.db
.DS_Store
~$*.docx
~$*.pptx
*.tmp
